<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mail for Contact Form</title>
</head>
<body>
	Mail received for <%= @name %>
	<br>
	Email address of sending is <%= @email %>
	<br>
	Sender message :
	<%= @body %>
</body>
</html>